.menuNavBar .nav-link.active {
  background-color: #30b189;
  font-weight: bold;
}

.menuNavBar {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.menuNavBar .nav-link,
.menuNavBar .navbar-brand {
  color: white !important;
}

.menuNavBar .nav-link:hover {
  color: lightgray !important;
}

.menuNavBar .navbar-toggler-icon {
  background-color: rgb(255, 255, 255, 0.5);
}