.taskLabel {
    text-align: left;
    color: #000000;
    margin-bottom: 5px;
}

.taskInput {
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc872;
}

#AddGoal {
    background-color: #30b189;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}